.navbar-pm {
  background-color: #22627e;
  border-bottom: 1px solid;
}
.Logo {
  height: 45px;
  width: 100px;
  padding-top: 3;
  margin-left: 0.5rem;
  margin-top: -5;
  justify-self: flex-start;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: #154768;
  border-radius: 3.5px;
  transition: all 0.18s ease-in-out;
}
